BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
ColumnLimit: 100
PointerAlignment: Left
IndentCaseLabels: true
SpaceBeforeParens: ControlStatements
AlignConsecutiveMacros: true
AlignConsecutiveDeclarations: false
AlignConsecutiveAssignments: true
AlignAfterOpenBracket: Align
BinPackParameters: false
BinPackArguments: false
Cpp11BracedListStyle: false
AlwaysBreakAfterReturnType: None
PenaltyReturnTypeOnItsOwnLine: 1000
